<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtro
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formPrice" novalidate>
      <div class="row">
        <div class="col-md-4 border-right">
          <div class="available">
            Disponibilidad:
            <div class="row mt-3 mb-3">
              <div class="col-md-12">
                <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="disponibility"
                  class="example-radio-group">
                  <mat-radio-button class="example-radio-button mr-2" [value]="available">
                    Disponible
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="!available">
                    No disponible
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="price">
            Precio:
            <div class="row mt-3">
              <div class="col-md-6">
                <mat-label class="text-gray-003 font-w-600">Min</mat-label>
                <mat-form-field [floatLabel]="'never'" class="example-full-width">
                  <input formControlName="min" type="number" name="min" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-label class="text-gray-003 font-w-600">Max</mat-label>
                <mat-form-field [floatLabel]="'never'" class="example-full-width">
                  <input formControlName="max" type="number" name="max" matInput>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="stock">
            Cantidad en stock:
            <div class="row mt-3">
              <div class="col-md-12">
                <mat-label class="text-gray-003 font-w-600">Cant</mat-label>
                <mat-form-field [floatLabel]="'never'" class="example-full-width">
                  <input formControlName="stock" type="number" name="stock" matInput>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button (click)="searchFilter()" mat-raised-button color="primary" style="width: 70%">
                <i class="material-icons">
                  search
                </i>
                Filtrar
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 border-right">
          <div class="order">
            Ordenar por:
            <div class="row">
              <div class="col-md-12">
                <mat-radio-group aria-labelledby="example-radio-group-label" (change)="orderFilter($event)"
                  formControlName="order" class="example-radio-group">
                  <mat-radio-button class="example-radio-button mr-2" value="price">
                    Precio
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button" value="disponibility">
                    Disponible
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button" value="nodisponibility">
                    No disponible
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button" value="cant">
                    Cantidad
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search">
            Buscar:
          </div>
        </div>
      </div>
    </form>

  </mat-expansion-panel>
</mat-accordion>
