<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtro
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-4 border-right">
        <div class="available">
          Disponibilidad:
        </div>
        <div class="price">
          Precio:
        </div>
      </div>
      <div class="col-md-4 border-right">
        <div class="stock">
          Cantidad en stock:
        </div>
      </div>
      <div class="col-md-4">
        <div class="search">
          Buscar:
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
