.container-count {
    display: inline-block;
    height: 25px;
    .control-count {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-color: rgb(199, 56, 56);
        border-radius: 50%;
    }
    .box-number {
        display: inline-block;
        padding-left: .3rem;
        padding-right: .3rem;
        width: 100px;
        height: 25px;
    }
}